# Overview

---

This notebook has the goal of teaching you how to use One-Hot encoding in Python for Numpy arrays and Pandas dataframes.

# Import libraries and dataset

In [16]:
import numpy as np
import pandas as pd

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [8]:
# Enable downloading of public Google Drive files
!pip install --upgrade --no-cache-dir gdown==4.5.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gdown==4.5.1
  Downloading gdown-4.5.1.tar.gz (14 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown==4.5.1) (2.23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown==4.5.1) (3.8.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown==4.5.1) (4.6.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown==4.5.1) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown==4.5.1) (4.64.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==4.5.1) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==4.5.1) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==4.5.1) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==4.5.1) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown==4.5.1) (1.7.1)
Building wheels for collected packages: gdown
  Building wheel for gdown (PEP 517) ... done
  Created wheel for gdown: filename=gdown-4.5.1-py3-none-any.whl size=14951 sha256=62dc6dadcf9878c89c5ec8699ccfd35243c9953f9885122b08093afd71801e85
  Stored in directory: /tmp/pip-ephem-wheel-cache-s2gfiwa9/wheels/3d/ec/b0/a96d1d126183f98570a785e6bf8789fca559853a9260e928e1
Successfully built gdown
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.4.0
    Uninstalling gdown-4.4.0:
      Successfully uninstalled gdown-4.4.0
Successfully installed gdown-4.5.1

In [9]:
# Download the dataset
!gdown 1MnfPTCIApAvdjNHxKwomUd0x7JD00rbI

Downloading...
From: https://drive.google.com/uc?id=1MnfPTCIApAvdjNHxKwomUd0x7JD00rbI
To: /content/startups.csv
100% 2.44k/2.44k [00:00<00:00, 7.11MB/s]

In [10]:
dataset_pandas = pd.read_csv('startups.csv')
dataset_numpy = dataset_pandas.to_numpy()

# What is the dataset

---

This dataset consists of 50 startups, with their money spend for Research and development, Administration and Marketing, the state where they are located and the profit they've made. 

The task would be to predict the profit of a startup, based on the first 4 parameters

The first 3 parameters are AI friendly, but the state parameter is a string. In order to feed it to an algorithm, we need to encode it. For the job, one-hot encoding will do the best job.

In [11]:
dataset_pandas

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

# Encoding a Pandas dataframe

In [20]:
# [3] is the column number that you want to encode
transformer = ColumnTransformer( transformers=[('OneHot',OneHotEncoder(),[3])],remainder="passthrough")
encoded_df = pd.DataFrame(transformer.fit_transform(dataset_pandas))

The encoded variable is now on the first 3 positions of the dataset with a column for each state

In [21]:
encoded_df

      0    1    2          3          4          5          6
0   0.0  0.0  1.0  165349.20  136897.80  471784.10  192261.83
1   1.0  0.0  0.0  162597.70  151377.59  443898.53  191792.06
2   0.0  1.0  0.0  153441.51  101145.55  407934.54  191050.39
3   0.0  0.0  1.0  144372.41  118671.85  383199.62  182901.99
4   0.0  1.0  0.0  142107.34   91391.77  366168.42  166187.94
5   0.0  0.0  1.0  131876.90   99814.71  362861.36  156991.12
6   1.0  0.0  0.0  134615.46  147198.87  127716.82  156122.51
7   0.0  1.0  0.0  130298.13  145530.06  323876.68  155752.60
8   0.0  0.0  1.0  120542.52  148718.95  311613.29  152211.77
9   1.0  0.0  0.0  123334.88  108679.17  304981.62  149759.96
10  0.0  1.0  0.0  101913.08  110594.11  229160.95  146121.95
11  1.0  0.0  0.0  100671.96   91790.61  249744.55  144259.40
12  0.0  1.0  0.0   93863.75  127320.38  249839.44  141585.52
13  1.0  0.0  0.0   91992.39  135495.07  252664.93  134307.35
14  0.0  1.0  0.0  119943.24  156547.42  256512.92  132602.65
15  0.0  0.0  1.0  114523.61  122616.84  261776.23  129917.04
16  1.0  0.0  0.0   78013.11  121597.55  264346.06  126992.93
17  0.0  0.0  1.0   94657.16  145077.58  282574.31  125370.37
18  0.0  1.0  0.0   91749.16  114175.79  294919.57  124266.90
19  0.0  0.0  1.0   86419.70  153514.11       0.00  122776.86
20  1.0  0.0  0.0   76253.86  113867.30  298664.47  118474.03
21  0.0  0.0  1.0   78389.47  153773.43  299737.29  111313.02
22  0.0  1.0  0.0   73994.56  122782.75  303319.26  110352.25
23  0.0  1.0  0.0   67532.53  105751.03  304768.73  108733.99
24  0.0  0.0  1.0   77044.01   99281.34  140574.81  108552.04
25  1.0  0.0  0.0   64664.71  139553.16  137962.62  107404.34
26  0.0  1.0  0.0   75328.87  144135.98  134050.07  105733.54
27  0.0  0.0  1.0   72107.60  127864.55  353183.81  105008.31
28  0.0  1.0  0.0   66051.52  182645.56  118148.20  103282.38
29  0.0  0.0  1.0   65605.48  153032.06  107138.38  101004.64
30  0.0  1.0  0.0   61994.48  115641.28   91131.24   99937.59
31  0.0  0.0  1.0   61136.38  152701.92   88218.23   97483.56
32  1.0  0.0  0.0   63408.86  129219.61   46085.25   97427.84
33  0.0  1.0  0.0   55493.95  103057.49  214634.81   96778.92
34  1.0  0.0  0.0   46426.07  157693.92  210797.67   96712.80
35  0.0  0.0  1.0   46014.02   85047.44  205517.64   96479.51
36  0.0  1.0  0.0   28663.76  127056.21  201126.82   90708.19
37  1.0  0.0  0.0   44069.95   51283.14  197029.42   89949.14
38  0.0  0.0  1.0   20229.59   65947.93  185265.10   81229.06
39  1.0  0.0  0.0   38558.51   82982.09  174999.30   81005.76
40  1.0  0.0  0.0   28754.33  118546.05  172795.67   78239.91
41  0.0  1.0  0.0   27892.92   84710.77  164470.71   77798.83
42  1.0  0.0  0.0   23640.93   96189.63  148001.11   71498.49
43  0.0  0.0  1.0   15505.73  127382.30   35534.17   69758.98
44  1.0  0.0  0.0   22177.74  154806.14   28334.72   65200.33
45  0.0  0.0  1.0    1000.23  124153.04    1903.93   64926.08
46  0.0  1.0  0.0    1315.46  115816.21  297114.46   49490.75
47  1.0  0.0  0.0       0.00  135426.92       0.00   42559.73
48  0.0  0.0  1.0     542.05   51743.15       0.00   35673.41
49  1.0  0.0  0.0       0.00  116983.80   45173.06   14681.40

# Encoding a numpy array

In [22]:
# [3] is the column number that you want to encode
transformer = ColumnTransformer( transformers=[('OneHot',OneHotEncoder(),[3])],remainder="passthrough")
encoded_df = np.array(transformer.fit_transform(dataset_numpy))

The encoded variable is now on the first 3 positions of the dataset with a column for each state

In [23]:
encoded_df

array([[0.0, 0.0, 1.0, 165349.2, 136897.8, 471784.1, 192261.83],
       [1.0, 0.0, 0.0, 162597.7, 151377.59, 443898.53, 191792.06],
       [0.0, 1.0, 0.0, 153441.51, 101145.55, 407934.54, 191050.39],
       [0.0, 0.0, 1.0, 144372.41, 118671.85, 383199.62, 182901.99],
       [0.0, 1.0, 0.0, 142107.34, 91391.77, 366168.42, 166187.94],
       [0.0, 0.0, 1.0, 131876.9, 99814.71, 362861.36, 156991.12],
       [1.0, 0.0, 0.0, 134615.46, 147198.87, 127716.82, 156122.51],
       [0.0, 1.0, 0.0, 130298.13, 145530.06, 323876.68, 155752.6],
       [0.0, 0.0, 1.0, 120542.52, 148718.95, 311613.29, 152211.77],
       [1.0, 0.0, 0.0, 123334.88, 108679.17, 304981.62, 149759.96],
       [0.0, 1.0, 0.0, 101913.08, 110594.11, 229160.95, 146121.95],
       [1.0, 0.0, 0.0, 100671.96, 91790.61, 249744.55, 144259.4],
       [0.0, 1.0, 0.0, 93863.75, 127320.38, 249839.44, 141585.52],
       [1.0, 0.0, 0.0, 91992.39, 135495.07, 252664.93, 134307.35],
       [0.0, 1.0, 0.0, 119943.24, 156547.42, 256512.92, 132602.65],
       [0.0, 0.0, 1.0, 114523.61, 122616.84, 261776.23, 129917.04],
       [1.0, 0.0, 0.0, 78013.11, 121597.55, 264346.06, 126992.93],
       [0.0, 0.0, 1.0, 94657.16, 145077.58, 282574.31, 125370.37],
       [0.0, 1.0, 0.0, 91749.16, 114175.79, 294919.57, 124266.9],
       [0.0, 0.0, 1.0, 86419.7, 153514.11, 0.0, 122776.86],
       [1.0, 0.0, 0.0, 76253.86, 113867.3, 298664.47, 118474.03],
       [0.0, 0.0, 1.0, 78389.47, 153773.43, 299737.29, 111313.02],
       [0.0, 1.0, 0.0, 73994.56, 122782.75, 303319.26, 110352.25],
       [0.0, 1.0, 0.0, 67532.53, 105751.03, 304768.73, 108733.99],
       [0.0, 0.0, 1.0, 77044.01, 99281.34, 140574.81, 108552.04],
       [1.0, 0.0, 0.0, 64664.71, 139553.16, 137962.62, 107404.34],
       [0.0, 1.0, 0.0, 75328.87, 144135.98, 134050.07, 105733.54],
       [0.0, 0.0, 1.0, 72107.6, 127864.55, 353183.81, 105008.31],
       [0.0, 1.0, 0.0, 66051.52, 182645.56, 118148.2, 103282.38],
       [0.0, 0.0, 1.0, 65605.48, 153032.06, 107138.38, 101004.64],
       [0.0, 1.0, 0.0, 61994.48, 115641.28, 91131.24, 99937.59],
       [0.0, 0.0, 1.0, 61136.38, 152701.92, 88218.23, 97483.56],
       [1.0, 0.0, 0.0, 63408.86, 129219.61, 46085.25, 97427.84],
       [0.0, 1.0, 0.0, 55493.95, 103057.49, 214634.81, 96778.92],
       [1.0, 0.0, 0.0, 46426.07, 157693.92, 210797.67, 96712.8],
       [0.0, 0.0, 1.0, 46014.02, 85047.44, 205517.64, 96479.51],
       [0.0, 1.0, 0.0, 28663.76, 127056.21, 201126.82, 90708.19],
       [1.0, 0.0, 0.0, 44069.95, 51283.14, 197029.42, 89949.14],
       [0.0, 0.0, 1.0, 20229.59, 65947.93, 185265.1, 81229.06],
       [1.0, 0.0, 0.0, 38558.51, 82982.09, 174999.3, 81005.76],
       [1.0, 0.0, 0.0, 28754.33, 118546.05, 172795.67, 78239.91],
       [0.0, 1.0, 0.0, 27892.92, 84710.77, 164470.71, 77798.83],
       [1.0, 0.0, 0.0, 23640.93, 96189.63, 148001.11, 71498.49],
       [0.0, 0.0, 1.0, 15505.73, 127382.3, 35534.17, 69758.98],
       [1.0, 0.0, 0.0, 22177.74, 154806.14, 28334.72, 65200.33],
       [0.0, 0.0, 1.0, 1000.23, 124153.04, 1903.93, 64926.08],
       [0.0, 1.0, 0.0, 1315.46, 115816.21, 297114.46, 49490.75],
       [1.0, 0.0, 0.0, 0.0, 135426.92, 0.0, 42559.73],
       [0.0, 0.0, 1.0, 542.05, 51743.15, 0.0, 35673.41],
       [1.0, 0.0, 0.0, 0.0, 116983.8, 45173.06, 14681.4]], dtype=object)